.rbc-event {
  background-color: #f6f8fb !important;
  border: none !important;
  color: black !important;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: none;
}

.rbc-event.rbc-selected {
  background-color: #12b0a1 !important;
}

.rbc-event:hover {
  background-color: #12b0a1 !important;
  cursor: pointer;
}

.rbc-today {
  background-color: #f6f8fb !important;
}

.rbc-time-slot, .rbc-day-bg {
  background-color: white !important;
}
